<div class="row">
    <div class="col-md-6 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Tipo de madroño1</h3>
        </div>
        <div class="card-body">
            <div class="text-center">
                <a class="btn btn-danger my-2" href="/madrono/addt1" role="button">
                    Agregar
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Tipo de madroño2</h3>
        </div>
        <div class="card-body">
            <div class="text-center">
                <a class="btn btn-danger my-2" href="/madrono/addt2" role="button">
                    Agregar
                </a>
            </div>
        </div>
    </div>
</div>
</div>