<div class="jumbotron mt-4">
    <h1 class="display-4">Madroños App Nodejs y MongoDB</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam soluta ducimus nisi! Animi neque veritatis eveniet, consectetur fuga accusamus incidunt laborum, placeat expedita commodi consequuntur iste optio modi necessitatibus quae?</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam soluta ducimus nisi! Animi neque veritatis eveniet, consectetur fuga accusamus incidunt laborum, placeat expedita commodi consequuntur iste optio modi necessitatibus quae?</p>
    <a href="https://www.youtube.com" class="btn btn-primary">No clikc</a>
</div>
